entrypoint = "package.json"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "EXPO"
integrations = ["stripe:2.0.0"]

run = "npm run serve"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build:web"]
run = ["npm", "run", "serve"]

[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[userenv]

[userenv.shared]
EXPO_PUBLIC_API_URL = "https://945d2f5a-7336-462a-b33f-10fb0e78a123-00-2bep7zisdjcv3.spock.replit.dev"
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY = "pk_live_51SblufKGNzGzHvUvpwDtXkaKAjaxcfkVRUX7TRwvoYu7injdGbDVInDb6W8OawVlcwuO2frMNx3y8IuQoXIh2Erq00wayXGWgW"
EXPO_PUBLIC_SUPABASE_URL = "https://dkkuuxyejgxldvmwpdkf.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
