modules = ["nodejs-20"]

run = "node dist/index.cjs"

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "dist/index.cjs"]
build = ["npm", "run", "build"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"
